@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "DM Serif Display", serif;
}

.container {
  padding: 20px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex div {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}

.btn {
  padding: 10px 15px;
  background-color: transparent;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
  cursor: pointer;
}

.btn-reverse {
  border: 2px solid #2b272f;
  color: #2b272f;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

body nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

body nav ul li {
  margin-left: 30px;
}

body nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #837d87;
}

body header {
  background-color: #2d2640;
  color: #fff;
  padding: 50px 0;
  position: relative;
  margin-bottom: 250px;
}

body header * {
  z-index: 1;
}

body header h1 {
  font-size: 3.5em;
  line-height: 1.5;
  letter-spacing: 2px;
  position: relative;
  padding-top: 50px;
  margin-top: 0;
}

body header h1::before {
  content: "";
  top: 0;
  bottom: 0;
  height: 1px;
  width: 200px;
  background-color: #fff;
  position: absolute;
}

body header::after {
  position: absolute;
  content: '';
  background-image: url("../images/bg-pattern-intro-right-desktop.svg");
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top right;
}

body header::before {
  position: absolute;
  content: '';
  background-image: url("../images/bg-pattern-intro-left-desktop.svg");
  bottom: -60%;
  left: 0;
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 0;
}

body header .dsk-intro {
  max-width: 100%;
  margin-bottom: -250px;
}

@media screen and (max-width: 100px) {
  body header .dsk-intro {
    margin-bottom: 0;
    width: calc(100% + 40px);
  }
}

body section .line-top {
  font-size: 3em;
  position: relative;
  padding-top: 30px;
}

body section .line-top::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  height: 1px;
  width: 100px;
  background-color: #95a9c6;
}

body section div h3 {
  font-size: 1.5em;
}

body section div .item p {
  opacity: 0.8;
  text-align: justify;
  margin-right: 30px;
}

body section .items {
  display: flex;
  justify-content: space-evenly;
}

body section .items .item {
  flex: 1;
}

body .how {
  background-color: #2b272f;
  padding: 30px 90px;
  position: relative;
  margin: 70px auto;
}

body .how h2 {
  color: #fff;
  font-size: 3em;
  padding: 0;
  width: 50%;
}

body .how::after {
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.6;
}

body footer {
  background-color: #fafafa;
  position: relative;
}

body footer h4 {
  color: #837d87;
  opacity: 0.8;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 25px;
}

body footer ul {
  list-style: none;
  padding: 0;
}

body footer ul li {
  margin-bottom: 20px;
}

body footer ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2d2640;
  font-weight: 600;
}

body footer .sm-bar {
  position: relative;
  border-bottom: 1px solid #95a9c6;
}

body footer .sm-bar .sm-icons {
  display: flex;
}

body footer .sm-bar .sm-icons li a {
  margin-left: 20px;
  cursor: pointer;
}

body footer::before {
  content: "";
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-position: top left;
}

@media screen and (max-width: 1000px) {
  header .rev-mob {
    flex-direction: column-reverse;
  }
  section {
    flex-direction: column;
    justify-content: center;
  }
  section .line-top {
    text-align: center;
  }
  section .line-top::before {
    left: 50%;
    transform: translateX(-50%);
  }
  section .items {
    flex-direction: column;
  }
  section .items .item {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  section .items .item p {
    text-align: center;
  }
  .how {
    flex-direction: column;
    width: 80%;
    justify-content: stretch;
  }
  .how::after {
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-position: top right;
    width: 100%;
    height: 100%;
  }
  footer * {
    z-index: 1;
  }
  footer .sm-bar {
    flex-direction: column;
  }
  footer .link-bar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  footer::before {
    content: "";
    top: 0;
    left: 0;
    height: 20%;
    width: 50%;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: top;
    z-index: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 40px;
}

.attribution a {
  color: #3e52a3;
}
